---
- name: apt update
  apt:
    update_cache: yes
  become: yes

- name: install docker
  apt:
    name: docker.io
    state: present
  become: yes

- name: add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes
  become: yes
