# Terraform
.terraform/
*.tfstate*
crash.log
crash.*.log

# Sensitive variable files
*.tfvars*
*.tfvars.json
*.auto.tfvars*

# Allow tfvars templates to be committed
!*.tfvars.example

# Environment / secret
.env
vault.yml
.home/

# Keys and certificates
*.pem
id_ed25519*
.ssh/

# Python / virtual environment
__pycache__/
.venv/

# Common system files
.DS_Store
Thumbs.db

# Certbot email
/ansible/inventories/group_vars/frontend/main.yml

# Local deployment state
.stashcloud-state
