# Terraform
.terraform/
*.tfstate*
crash.log
crash.*.log

# Sensitive variable files
*.tfvars*
*.tfvars.json
*.auto.tfvars*

# Environment / secret
.env
vault.yml

# Keys and certificates
*.pem
id_ed25519*

# Python / virtual environment
__pycache__/
.venv/

# Common system files
.DS_Store
Thumbs.db
