[defaults]
inventory            = ansible/inventories/aws_ec2.yaml
remote_user          = ubuntu
# private_key_file is set dynamically via ANSIBLE_PRIVATE_KEY_FILE in run.sh
host_key_checking    = True 
deprecation_warnings = False
roles_path           = ansible/roles
